<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <script
        src="https://kit.fontawesome.com/eb1d0ec6ca.js"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link
        href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
    <title>Tech School</title>
</head>

<body>
    <header id="landing">
        <div class="overlay">
            <!-- NAVIGATION BAR Starts -->
            <nav
                class="navbar navbar-expand-md navbar-light fixed-top">
                <a class="navbar-brand"
                    href="#">AUDAX</a>
                <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarResponsive">
                    <span
                        class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse"
                    id="navbarResponsive">
                    <div
                        class="navbar-nav ml-auto">
                        <a class="nav-item nav-link"
                            href="#landing"><strong>home
                            </strong></a>
                        <a class="nav-item nav-link"
                            href="#code-school"><strong>Code
                                school
                            </strong></a>
                        <a class="nav-item nav-link"
                            href="#services"><strong>Services
                            </strong></a>
                        <a class="nav-item nav-link"
                            href="#work"><strong>Our
                                Work
                            </strong></a>
                        <a class="nav-item nav-link"
                            href="#testimonials"><strong>Testimonials
                            </strong></a>
                        <a class="nav-item nav-link"
                            href="#contacts"><strong>Contact
                            </strong></a>
                    </div>
                </div>
            </nav>
            <!-- NAVIGATION BAR Ends -->

            <!-- HEADER BODY Starts -->
            <div id="intro"
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <h4>Lorem ipsum, dolor adipisicing
                    elit. Reiciendis id
                    perspiciatis deleniti est
                    eaque <strong>doloremque
                        distinctio
                        repellendus</strong>
                    Placeat recusandae nemo velit
                    unde, incidunt sapiente
                    <strong>quasi
                        adipisci</strong>
                    doloremque deleniti possimus!
                </h4>

            </div>
            <!-- HEADER BODY Ends -->

        </div>
    </header>

    <section id="code-school">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <img
                        src="/Techy-Webpage-demo/images/icon.png">
                </div>
                <div class="col-md-6">
                    <h2>AUDAX TECH School</h2>
                    <h4>The School driving
                        innovation
                    </h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet
                        consectetur adipisicing
                        elit.
                        Voluptatum, tenetur?
                        Corrupti
                        ullam aspernatur neque
                        accusantium molestias
                        laborum
                        eveniet minus voluptatum
                        ratione earum dolorum,
                        repellat sapiente aut
                        dignissimos molestiae quis
                        iste.</p>

                    <h5>Our Philosophy</h5>
                    <br><i
                        class="far fa-dot-circle"></i><em>Lorem
                        ipsum dolor sit,
                        amet consectetur
                        adipisicing
                        elit.</em>
                    <br><i
                        class="far fa-dot-circle"></i><em>Vero
                        non harum earum
                        delectus voluptatibus quis
                        consectetur illo ad at
                        repellat molestias</em>
                    <br><i
                        class="far fa-dot-circle"></i><em>quam
                        ut fuga voluptatem
                        quisquam aut nulla fugiat.
                        Minus.</em>
                    <div class="row">
                        <div class="col-sm-3">
                            <button type="submit"
                                class="btn btn-danger">Register
                                Now</button>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div
                                    class="col-sm-6">
                                    <button
                                        type="submit"
                                        class="btn btn-primary">View
                                        Short
                                        Courses</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>


    <section id="why">
        <div class="container-fluid">
            <h2>WHY TECH School</h2>
            <hr class="first">
            <hr class="second">

            <div class="row">
                <div class="col-sm-3">
                    <i
                        class="fas fa-code fa-5x"></i>
                    <h4>Basics</h4>
                    <p>Lorem ipsum dolor sit amet,
                        consectetur adipisicing
                        elit.
                    </p>
                </div>
                <div class="col-sm-3">
                    <i
                        class="fas fa-magic fa-5x"></i>
                    <h4>Creativity</h4>
                    <p>Ipsam esse sapiente,
                        facilis
                        voluptatum quidem maiores
                        quas
                        ab iure cum.</p>
                </div>
                <div class="col-sm-3">
                    <i
                        class="fas fa-handshake fa-5x"></i>
                    <h4>Partnership</h4>
                    <p>Repellat ex voluptas autem?
                        Sit
                        beatae quis ea,
                        dignissimos
                        praesentium quia.</p>
                </div>
                <div class="col-sm-3">
                    <i
                        class="fas fa-award fa-5x"></i>
                    <h4>Awards and Recognition
                    </h4>
                    <p>Lorem ipsum dolor sit amet
                        consectetur adipisicing
                        elit.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container-fluid">
            <h2>OUR SERVICES</h2>
            <hr class="first">
            <hr class="second">
            <div class="row">
                <div class="col-12">
                    <p>Lorem ipsum dolor sit amet
                        consectetur adipisicing
                        elit. Quia unde rerum
                        perferendis sunt ab
                        quibusdam qui, possimus
                        perspiciatis!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <i
                        class="fas fa-chalkboard-teacher fa-5x"></i>
                    <h4>STEM DRIVE</h4>
                    <p>Lorem ipsum dolor sit amet,
                        consectetur adipisicing
                        elit.</p>
                </div>
                <div class="col-sm-4">
                    <i
                        class="fas fa-microchip fa-5x"></i>
                    <h4>TECHNOLOGY RETROSPECT</h4>
                    <p>Lorem ipsum dolor sit amet,
                        consectetur adipisicing
                        elit.</p>
                </div>
                <div class="col-sm-4">
                    <i
                        class="fas fa-landmark fa-5x"></i>
                    <h4>FACILITY</h4>
                    <p>Lorem ipsum dolor sit amet,
                        consectetur adipisicing
                        elit.</p>
                </div>
            </div>
            <div>
                <button type="submit"
                    class="btn btn-primary col-sm-4">View
                    BOOK CENTER</button>
            </div>
        </div>
    </section>

    <section id="partners">
        <div class="container-fluid">
            <h2>OUR PARTNERS</h2>
            <hr class="first">
            <hr class="second">

            <div class="container-fluid">
                <div id="carousel-example"
                    class="carousel slide"
                    data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active"
                            role="listbox">
                            <ul class="row">
                                <li
                                    class="col-sm-4">
                                    <img src="/Techy-Webpage-demo/images/iroko.png"
                                        alt="...">
                                </li>
                                <li
                                    class="col-sm-4">
                                    <img src="/Techy-Webpage-demo/images/obi.png"
                                        alt="...">
                                </li>

                                <li
                                    class="col-sm-4">
                                    <img src="/Techy-Webpage-demo/images/lagos.png"
                                        alt="...">
                                </li>
                            </ul>
                        </div>
                        <div class="carousel-item"
                            role="listbox">
                            <ul class="row">
                                <li
                                    class="col-sm-4">
                                    <img src="/Techy-Webpage-demo/images/sterling.png"
                                        alt="...">
                                </li>
                                <li
                                    class="col-sm-4">
                                    <img src="/Techy-Webpage-demo/images/iroko.png"
                                        alt="...">
                                </li>

                                <li
                                    class="col-sm-4">
                                    <img src="/Techy-Webpage-demo/images/lagos.png"
                                        alt="...">
                                </li>
                            </ul>
                        </div>

                    </div>
                    <a class="carousel-control-prev"
                        href="#carousel-example"
                        role="button"
                        data-slide="prev">
                        <span
                            class="carousel-control-prev-icon"
                            aria-hidden="true"></span>
                        <span
                            class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next"
                        href="#carousel-example"
                        role="button"
                        data-slide="next">
                        <span
                            class="carousel-control-next-icon"
                            aria-hidden="true"></span>
                        <span
                            class="sr-only">Next</span>
                    </a>

                </div>
            </div>
        </div>
    </section>

    <section id="work">
        <div class="container-fluid">
            <h2>WHAT WE HAVE BEEN UP TO</h2>
            <hr class="first">
            <hr class="second">
            <p><i>Lorem ipsum dolor sit, amet
                    consectetur adipisicing
                    fugiat!</i>
            </p>
            <nav>
                <ul class="nav nav-tabs center-block"
                    role="tablist">
                    <li><a href="#"
                            aria-controls="videos"
                            role="tab"
                            data-toggle="tab">Video</a>
                    </li>
                    <li role="presentation"><a
                            href="#" role="tab"
                            aria-controls="gallery">Gallery</a>
                    </li>
                </ul>
            </nav>
            <div>

            </div>
        </div>
    </section>

    <section id="testimonials">
        <div class="container-fluid">
            <h2>CLIENTS’ RECOGNITION</h2>
            <hr class="first">
            <hr class="second">
        </div>
    </section>

    <section id="contacts">
        <div class="container-fluid">
            <h2>CONTACT US</h2>
            <hr class="first">
            <hr class="second">
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <h4>
                        <strong>ADDRESS</strong>
                    </h4>
                    <p>Lorem, ipsum dolor sit amet
                        consectetur adipisicing
                        elit.
                    </p>
                </div>
                <div>
                    <h4>
                        <strong>EMAIL</strong>
                    </h4>
                    <p>abc@gmail.com</p>
                </div>

                <div>
                    <h4>
                        <strong>PHONE</strong>
                    </h4>
                    <p>0101020304</p>
                </div>
                <div class="social">
                    <h4>
                        <strong>SOCIAL
                            MEDIA</strong>
                    </h4>
                    <ul>
                        <li>
                            <i class="fa fa-facebook-square"
                                aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-twitter-square"
                                aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-linkedin-square"
                                aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-sm-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.684901912981!2d3.4775371143653864!3d6.4345043259776755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf5b42784ea83%3A0x4a0b007c64b7f703!2sAudax+Solutions+Limited!5e0!3m2!1sen!2sng!4v1459772070606"
                    width="500" height="400"
                    frameborder="0"
                    style="border:0"
                    allowfullscreen=""></iframe>
            </div>
        </div>
    </section>

    <footer>
        <p>hello Again</p>
    </footer>



    <script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>